.pagetheme-bck{
height: 250px;
background-image: url("images/book.png");
width: 100%;
}
.prince-mess{
  color: white;
  margin-top: 5%;
  margin-right: 200px;
  margin-left: 15%;
  font-size: 40px;
  padding-top: 50px;
  font-family:sans-serif;
  font-weight: bolder;
}

.prince-mess-div{
  height: 100px;
}


.prince-mess-2{
  float: left;
  height: 50px;
  width: 300px;
  color: white;
  margin-top: 1%;
  margin-left: 17%;
  border-color: white;
  background-color: white;
  border-style: solid;
  border-width: thick;
}
.prince-mess-2:hover{

  animation-name: messdivsidth;
animation-iteration-count: infinite;
animation-direction: alternate;
  animation-duration: 1s;
  background-color: orange;
}


@keyframes messdivsidth {
  from{border-color: white;}
    to{border-color: orange;}
}
.prince-mess-2-text{
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  width: 60%;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  padding-left: 15px;
}
.prince-mess-2-inside{
margin-top: 4%;
margin-left: 7%;
width: 88%;
}

.prince-mess-0-inside{
  margin-top: 4%;
  margin-left: 7%;
  width: 88%;
}

.prince-mess-0-text{
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  width: 60%;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  padding-left: 15px;
}




.prince-mess-3-inside{
  margin-top: 4%;
  margin-left: 35%;
  width: 88%;
}

.prince-mess-2-text:hover{
  color: white ;
}

.vice-prince-mess{
  float: left;
  height: 50px;
  width: 300px;
  margin-top: 1%;
  margin-left: 2%;
  border-color: white;
  background-color: white;
  border-style: solid;
      border-width: thick;
}

.vpm-block{
  float: left;
  height: 50px;
  width: 300px;
  margin-top: 1%;
  margin-left: 2%;
  border-color: white;
  background-color: white;
  border-style: solid;
      border-width: thick;
}

.vpm-block:hover{
  animation-name: messdivsidth;
animation-iteration-count: infinite;
animation-direction: alternate;
  animation-duration: 1s;
  background-color: orange;

}
.vice-prince-mess:hover{
  animation-name: messdivsidth;
animation-iteration-count: infinite;
animation-direction: alternate;
  animation-duration: 1s;
  background-color: orange;
}


  .respective-message{
  padding-left: 19.5%;
  padding-right: 24.5%;
  }
  .vpm-mobile{
    display: none;
  }
  .active-message a{
    color: red;
  }
