.pagetheme-bck{
height: 400px;
background-image: url("images/book.png");
width: 100%;
}
.prince-mess{
  color: white;
  margin-top: 0%;
  margin-right: 200px;
  margin-left: 15%;
  font-size: 40px;
  padding-top: 200px;
  font-family:sans-serif;
  font-weight: bolder;
}
