
@media only screen and (max-width:700px) {

.desktoponly{
  display:flex;
  }
.header-timings{
  display: none;
  }
.top-header-container{
  display: none;
}
.container-1{
  display: none;
}
.container-3{
  display: none;
}
.container-4{
  display: none;
}
.aboutus-in-homepage{
  display: none;
}
.container-5{
  display: none;
}
.countdown-overlay{
  display: none;
}
.contact-info{
  display: none;
}
.container-10{
  display: none;
}
.footer-copyright{
  display: none;
}

}
