body{
margin:0;
padding: 0;
background-color: white;
font-family: 'Roboto', sans-serif;
cursor:default;
overflow-x: hidden;
}
body a {
  text-decoration: none;
  color: #0C2D57;
  cursor: grab;
}
body a:hover {
  transition: .4s;
  color: #720455;
}

.mainDiv {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Top Timings Display CSS */
.AllDiv{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header-timings{
  background-color: #0C2D57;
  letter-spacing: 2px;
  color: white;
  height: 1.8rem;
  width: 100%;
  padding-top: .9rem;
  text-align: center;
  font-weight: bolder;
  font-size: 14px;

}  .menuDropdown{
  height: 41rem;
  /* scale: 1; */
  z-index: 2;
  width: 100%;
  margin: auto;
  background-image: url('images/students_AIgen.jpg');
  display: flex;
  flex-direction: column;
  background-repeat: repeat;
  background-position: 40%;
}

.menuDropdown_container{
  height: 45rem;
  width: 100rem;
  overflow: visible;
  margin: auto ;
  /* background-color: red; */
  display: flex;
  z-index: 2;
  flex-direction: column;
  /* position: absolute; */
}

.menuText_list{
  animation: menuList;
  padding-top: 1rem;
  display: block;
  animation-duration: 1s;
  z-index: 2;
}
@keyframes menuList {
  
  0%{
    opacity: 0%;
    padding-top: 0rem;
  }
  100% {
    opacity: 100%;
    padding-top: 1rem;

  }
}
.menuText_list_ReverseNone{
  display: none;
}
.menuText_list_Reverse{
  animation: menuListReverse;
  padding-top: 1rem;
  animation-duration: 0.15s;
  opacity: 0%;
  z-index: 0;
  /* display: none; */
}

@keyframes menuListReverse {
  0%{
    opacity: 100%;
    padding-top: 3rem;
  }
  100% {
    opacity: 0%;
    display: none;
    padding-top: 0rem;

  }
}
.headerInfoJS {
  background-color: white;
  overflow: visible;
  width: 115rem;
  height: 41rem; 
  margin: 0 0 0 -10rem;
  position: absolute;
  z-index: 2; 
  animation-name: expand;
  animation-duration: 1.4s;
}
@keyframes expand{

  30%{
    height: 40.2rem;
  }
  0%{
    height: 0rem;
  }
}
.headerInfo {
  background-color: white;
  width: 115rem;
  height: 0rem; 
  margin: 0 0 0 -10rem;
  position: absolute;
  z-index: 0; 
  overflow: visible;
  animation-name: shrink;
  animation-duration: 1.4s;
} 
@keyframes shrink {
  0% {
    height: 30rem;
  }
  25%{
    height: .4rem;
  }
  100% {
    height: 0rem;
  }
} 


.tophead{
  height: 6rem;
  letter-spacing: 2px;
  width: 100rem;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tophead2{
  height: 2rem;
  width: 0rem;
  text-align: center;
  justify-content: center;
  /* background-color: green; */
  position: absolute;  
}
.tophead3{
  height: 2rem;
  width: 0rem;
  position: absolute;
  text-align: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  /* background-color: orange; */
}
.LoginIcon{
  position: absolute;
  padding-top: .4rem;
  margin: 0 0 0 70rem;
}
.callIcon{
  position: absolute;
  padding-top: .4rem;
  margin: 0 0 0 74rem;
}
.LoginIcon img{
  height: 25px;
}
.locationIcon{
  position: absolute;
  padding-top: .4rem;
  margin: 0 0 0 78rem;
}
.SearchIcon{
  position: absolute;
  padding-top: .4rem;
  margin: 0 0 0 82.5rem;
  
}

.openTime{
  color: orange;
} 

.menu {
  cursor:grab;  width: 15rem;
  font-size: 20px;
  position: absolute;
  padding: 0.4rem 0 0 5rem;
  font-family: 'Roboto', sans-serif;
}
 .menuButtonIcon{
  height: 2rem;
  padding: .15rem 0rem 0rem 8rem ;
  position:absolute;
}
 .menuButtonIconClose{
  height: 2.2rem;
  padding: 0rem 0rem 0rem 8rem;
  position:absolute;
  display: none;
}

.close {
  cursor:grab;  width: 15rem;
  font-size: 20px;
  position: absolute;
  padding: 0.4rem 0 0 5.25rem;
  display: none;
}

.menuText{
  justify-content: left;
  text-align: left;
  letter-spacing: 2px;
  position: absolute;
  padding: 0rem 0 0 25rem;
  font-family: Open Sans,sans-serif;
  display: none;
}
.menuText ul li{
  font-size: 25px;
  display: flex;
  padding: 0rem 0rem .9rem 1rem;
  flex-direction: column;
  width: 20rem;
  z-index: 0;
  /* display: none; */
  /* background-color: red; */
  margin: auto;
  list-style: none;
}
#menuText_listBar{
  display: none;
  position: absolute;
  background-color: #720455;
  margin: 1.7rem 0 0 45rem;
}

.countPanelDiv{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: #3468C0;
  height: 65.4rem;
  width: 20rem;
  margin:2rem 0 0 67rem;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-color:#3468C0;
  border-width: 20px;
  text-align: center;
  padding: 2rem 0 0 0;
  border-top-style:inset ;
  position: absolute;
}

.StudentCount{
  color: #1D267D;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  width: 10rem;
  height: 10rem;
  margin: 11rem 0 0 72rem;
  /* background-color: #AAD7D9; */
}
.StaffCount{
  color: #1D267D;
  line-height: 13px;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  width: 10rem;
  height: 10rem;
  margin: 23rem 0 0 72rem;
  /* background-color: #AAD7D9; */
}
.EventsCount{
  color: #1D267D;
  line-height: 15px;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  width: 10rem;
  height: 10rem;
  margin: 33rem 0 0 72rem;
  /* background-color: #AAD7D9; */
}
.EmptyCount{
  color: #1D267D;
  line-height: 15px;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  width: 10rem;
  height: 10rem;
  margin: 43rem 0 0 72rem;
  /* background-color: #AAD7D9; */
}
.EmptyCount0{
  color: #1D267D;
  line-height: 15px;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  width: 10rem;
  height: 10rem;
  margin: 54rem 0 0 72rem;
  /* background-color: #AAD7D9; */
}
.BannerWelcome{
  margin: 6rem 0 0 10rem;
  color: white;
  line-height: 0rem;
  font-size: 55px;
  z-index: 2;
}
.applynow{
  position: absolute;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  height: 1.5rem;
  width: 8rem;
  background-color: orangered;
  margin: 14rem 0 0 0;
  padding-top: 1.3rem;
  color: white;
  text-align: center;
  font-size: 15PX;
  z-index: 2;
}
.applynow:hover{
  background-color: green;
  transition: .5s;
}
.bannerbottombgBar{
  position: relative;
  /* margin-left: 50rem; */
  height: 11rem;
  width: 180rem;
  background-color:#0C2D57;
  margin: 14.5rem 0 0 -40rem;
  opacity: 75%;
  /* padding-bottom: 5rem; */
  z-index: -1;
}
.BannerWelcomeFilter{
  position: absolute;
  width: 100%;
  height: 41rem;
  opacity: 20%;
  background-color:#1D267D;
}

.OurCampus{
  height: 34rem;
  width: 100%;
  background-color: #F7FCFA;
  margin: auto;
}
.OurCampusChild{
  height: 20rem;
  width: 100rem;
  background-color: #F7FCFA;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}
.AcademyPrograms{
  height: 2rem;
  position: absolute;
  /* background-color: red; */
  margin: 1.8rem 0 0 27rem;
  width: 20rem;
}

.OurCampusTab0{
  position: absolute;
  overflow: hidden;
  border-color: #E5E1DA;
  border-style: solid;
  border-width: 5px;
  margin: 5rem 0 0 26rem;
  height: 24rem;
  width: 18rem;
}
.OurCampusTab1{
  overflow: hidden;
  border-color: #E5E1DA;
  border-style: solid;
  border-width: 5px;
  position: absolute;
  margin: 5rem 0 0 47rem;
  height: 24rem;
  background-color: #ECF2FF;
  /* justify-content: center; */
  width: 18rem;
}
.OurCampusTab2{
  overflow: hidden;
  border-color: #E5E1DA;
  border-style: solid;
  border-width: 5px;
  position: absolute;
  height: 24rem;
  margin: 5rem 0 0 5rem;
  background-color: #ECF2FF;
  /* justify-content: center; */
  width: 18rem;
}
.KG_UKG{
  position: absolute;
  line-height: 1px;
  letter-spacing: 1px;
  margin: 17rem 0 0 0;
  width: 18rem;
  height: 7rem;
  opacity: 90%;
  color: white;
  text-align: center;
  /* padding-top: 1rem; */
  background-color: #0C2D57;
}
.KG_UKG a{
  color: white;
}
.KG_UKG a:hover{
  color: orangered;
}

.APText{
  letter-spacing: 2px;
  font-size: 25px;
  font-family: 'Roboto',sans-serif;
  color: #0C2D57;
} 
.GetInTouch{
  margin: auto;
  width: 100%;
  height: 33rem;
  background-repeat:no-repeat;
  background-position: 91%;
  background-color: white;
  /* background-image: url(images/seamlessDotted.png); */
  background-position: 30%;
  /* background-color: red; */
}
.GetInTouchChild{
  height: 35rem;
  width: 100rem;
  /* background-color: grey; */
  margin: auto;
  display: flex;
  flex-direction: column;
}
.AdmissionOpen{
  font-size: 38px;
  font-family: 'Montserrat',sans-serif;
  color:#0C2D57;
  font-weight:bold;
  line-height: .0px;
  margin: 10rem 0 0 6rem;
  /* background-color: white; */
}
.ArtShowCase1{
  position: absolute;
  height: 12rem;
  /* background-color: red; */
  width: 13rem;
  background-image: url(images/abstractArt1_1.jpg);
  margin: 5rem 0 0 56rem;
  rotate: -10deg;
}
.ArtShowCase2{
  position: absolute;
  height: 9.5rem;
  /* background-color: red; */
  width: 13rem;
  background-image: url(images/abstractArt3_1.jpg);
  margin: 17rem 0 0 52rem;
  scale: 1.1;
  rotate: 8deg;
}
.contactButton{
  height: 2.7rem;
  width: 24rem;
  font-size: 18px;
  margin: 0 0 0 6rem;
  /* background-color: red; */
}
.contact_Link{
  height: 2.7rem;
  width: 24rem;
  font-size: 18px;
  border-style: solid;
  border-width: 2px;
  border-color:#1D267D;
  text-align: center;
  padding-top: 1.1rem;
  /* background-color: red; */
}

.contact_Link:hover{
  transition: .4s;
  color: white;
  background-color:#0C2D57;
}

.kgtohighschool{
  width: 100%;
  margin: auto;
  background-image: url(images/footballBanner.jpg);
  height: 45rem;
  background-color: #3468C0;
  display: flex;
  flex-direction: column;
}
.kgtohighschoolFilter{
  width: 100%;
  margin: auto;
  position: absolute;
  opacity: 30%;
  /* background-image: url(images/footballBanner.jpg); */
  height: 45rem;
  background-color:#1D267D;
}
.kgtohighschoolChild{
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto;
  height: 45rem;
  width: 100rem;
  z-index: 1;
  /* background-color: orangered; */
}
.kgtohighschoolText1{
  letter-spacing: 2px;
  font-size: 15px;
  color: orange;
  position: absolute;
  margin:7rem 0 0 6rem;
}
.kgtohighschoolText2{
  letter-spacing: 2px;
  width: 38rem;
  font-size: 35px;
  color: white;
  position: absolute;
  margin:10rem 0 0 6rem;
}
.kgtohighschoolText3{
  letter-spacing: .4px;
  width: 36rem;
  font-size: 16px;
  color: white;
  position: absolute;
  margin:8rem 0 0 56rem;
}
.MessageFromPrincipalBox{
  position: absolute;
  font-family: 'Quicksand',sans-serif;
  height: 35rem;
  width: 500rem;
  background-color:#0C2D57;
  margin: 45rem 0 0 -200rem;
}

.MessageFromPrincipal{
  letter-spacing: 2px;
  font-family: 'Roboto',sans-serif;
  font-size: 25px;
  color: white;
  position: absolute;
  align-self: center;
  margin:48rem 0 0 0rem;
}
.MessageFromPrincipal1{
  letter-spacing: 2px;
  font-family: 'Quicksand',sans-serif;
  font-size: 25px;
  color: white;
  position: absolute;
  align-self: center;
  text-align: center;
  margin:52rem 0 0 0rem;
}
.PrincipalImage{
  position: absolute;
  background-image: url(images/PrincipalImage.jpg);
  border-radius: 250%;
  height: 10rem;
  width: 10rem;
  background-color: white;
  margin: 68rem 0 0 38rem;
}
.PrincipalName{
  letter-spacing: 1px;
  line-height: 0%;
  font-family: 'Roboto',sans-serif;
  font-size: 28px;
  color: white;
  position: absolute;
  align-self: center;
  text-align: left;
  margin:72rem 0 0 10rem;
}
.Art{
  position: absolute;
  text-align:center;
  letter-spacing: .4px;
  font-family: 'Quicksand',sans-serif;
  padding: 2rem 0rem 0 0rem;
  color:#0C2D57;
  border-radius: 8px;
  height: 13rem;
  width: 14rem;
  background-color: white;
  margin: 18rem 0 0 8rem;
}
.Dramatics{
  position: absolute;
  text-align:center;
  letter-spacing: .4px;
  font-family: 'Quicksand',sans-serif;
  padding: 2rem 0rem 0 0rem;
  color:#0C2D57;
  border-radius: 8px;
  height: 13rem;
  width: 14rem;
  background-color: white;
  margin: 18rem 0 0 25rem;
}
.Sports{
  position: absolute;
  text-align:center;
  letter-spacing: .4px;
  font-family: 'Quicksand',sans-serif;
  padding: 2rem 0rem 0 0rem;
  color:#0C2D57;
  border-radius: 8px;
  height: 13rem;
  width: 14rem;
  background-color: white;
  margin: 18rem 0 0 42rem;
}
.DanceAndMusic{
  position: absolute;
  text-align:center;
  letter-spacing: .4px;
  font-family: 'Quicksand',sans-serif;
  padding: 2rem 0rem 0 0rem;
  color:#0C2D57;
  border-radius: 8px;
  height: 13rem;
  width: 14rem;
  background-color: white;
  margin: 18rem 0 0 59rem;
}
.DesignAndMedia{
  position: absolute;
  text-align:center;
  letter-spacing: .4px;
  font-family: 'Quicksand',sans-serif;
  padding: 2rem 0rem 0 0rem;
  color:#0C2D57;
  border-radius: 8px;
  height: 13rem;
  width: 14rem;
  background-color: white;
  margin: 18rem 0 0 76rem;
}
.ContactUsMain{
  width: 100%;
  margin: auto;
  margin-top: 35rem;
  height: 35rem;
  background-color:white;
  background-image: url(images/seamlesspatternbg.jpg);
}

.contact-info{
  height: 38rem;
  display: flex;
  flex-direction:column;
  margin: auto;
  width: 95rem;
}

.contact-info-2{
  height: 26rem;
  position:absolute;
  width: 29rem;
  background-color:transparent;
  border-color: grey;
  /* border-style: solid;  */
  margin: 6rem 0 0 48rem;
  border-width:  0rem 0.05rem 0.05rem 0rem ;
}
.contactusvisitus{
  letter-spacing: 5px;
  line-height: 7rem;
  font-size: 130px;
  color: #176B87;
  text-align: right;
  margin:10rem 48rem 0 0;
}
/*                                                     A D D R E S S     T A B*/
.container-10-address-tab{
  width: 20%;
  height: 250px;
}
.container-10-address-heading{
  padding-top: 6%;
  text-align: left;
  font-size: 120%;
  color:#0C2D57;
  padding-left: 20%;
}
.container-10-address-text{
  text-align: left;
  font-size: 100%;
  color:#176B87;
  /* border-radius: 1%;
  border-width: 2px;
  border-style: solid; */

}
.container-10-address-text a{
  color:orangered;
}
.container-10-address-text a:hover{
  color: olivedrab;
  cursor: pointer;
}
.QuickLinksBg{
  background-color:#0C2D57;
  height: 30rem;
  width: 100%;
}
.QuickLinksDiv{
  height: 20rem;
  width: 100rem;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  margin: auto;
}
.QuickLinkHeading{
  color: white;
  letter-spacing: 5px;
  margin: 2rem 0 0 10rem;
  font-size: 20px;
  font-weight: 600;
}
.QuickLinksList{
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
  font-family: 'Quicksand',sans-serif;
  color: white;
  list-style: none;
  padding-left: 8rem;
  
}
.QuickLinksList a{
  color: white;
}
.QuickLinksList a:hover{
  font-weight: 600;
  transition: 0s;
  color: white;
}
.QuickLinksList li{
  color: white;
  padding-left: 2rem;
}
.FollowUsHeading{
  color: white;
  letter-spacing: 5px;
  margin: 4rem 0 0 10rem;
  font-size: 20px;
  font-weight: 600;
}
.BottomText1{
  font-family: 'Quicksand',sans-serif;
  color: rgb(199, 190, 190);
  position: absolute;
  letter-spacing: 1px;
  margin: 22rem 0 0 10rem;
  font-size: 14px;
  font-weight: 600;
}
.CopyrightText{
  font-family: 'Quicksand',sans-serif;
  text-align: center;
  color: rgb(199, 190, 190);
  /* position: absolute; */
  letter-spacing: 1px;
  margin: 16rem;
  font-size: 14px;
  font-weight: 600;
}
.BottonText2{
  color: white;
  position: absolute;
  letter-spacing: 1px;
  margin: 20rem 0 0 10rem;
  font-size: 14px;
  font-weight: 600;
}






/* .expandedHeader 
  background-color: #F5EEE6;
  height: 46rem; */
  /* 










.home {
  height: 1rem;
  width: 10rem;
  background-color: white;
  padding-top: 0rem;
  display:flex;
  justify-content: center;
  margin:0rem 0 0 20rem;
}


.countdown-overlay{
  background-color: #2eafe8;
  display: flex;
  height: 50rem;
  width: 100rem;
  margin: auto;
  position:absolute;
  justify-content:center;
  align-items: center;
  text-align: center;
  z-index: 0;
  padding-top: 9rem;
}

/* .countdown-overlay-1{
  position: absolute;
  display: flex;
  width: 15rem;
  height: 8rem;
  border-style:inherit;
  border-radius: 1rem;
  border-style: none none groove none;
  border-color: grey;
  margin-left: 21rem;
  text-align: center;
  font-size: 1.1rem;
  color: #b6fff8; 

  z-index: 2;
} */
.countdown-overlay-2{
  background-color: red;
  height: 10rem;
  width: 10rem;
  z-index: 0;
}
/* .countdown-overlay-2{
  position: absolute;
  float: left;
  width: 15rem;
  height: 8rem;
  border-style:inherit;
  border-style: none none groove none;
  border-radius: 1rem;
  border-color: grey;
  margin-left: 3rem;
  text-align: center;
  font-size: 1.1rem;
  color: #b6fff8;
  /* margin-top: 3rem; */
  /* padding-bottom: 0rem;
  padding-top: 0rem;
  z-index: 1; */
/* }
.countdown-overlay-3{
  float: left;
  width: 15rem;
  height:8rem;
  border-style:inherit;
  border-style: none none groove none;
  border-color: grey;
  border-radius: 1rem;
  margin-left: 3rem;
  text-align: center;
  font-size: 1.1rem;
  color: #b6fff8;
  /* margin-top: 3rem; */
  /* padding-top: 0rem;
  z-index: 1;
} */




















nav{
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 4rem;
  margin-top: 1.5rem;
}

nav ul li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

nav ul li a:hover{
  color: orange;
}
.active{
  font-weight: bolder;
}

.container-1{
    height: 25rem;
    width: 101rem;
    text-align: center;
    display: flex;
    margin-left: 0rem;
    padding-top: 8rem;
}

.container-1-background{
  width:101rem;
  background-image: url("images/aboutusimage.png");
  background-repeat: no-repeat;
  height: 29rem;

}


.container-1-text{
  height: 14rem;
  width: 50rem;
  font-size: 3rem;
  padding: 4% 0% 0% 22%;
  text-align: left;
  font-style: italic;
  text-decoration: none;
}
.container-1-text a{
  text-decoration: none;
  color: orange;
  animation-name: glow;
  animation-duration: .1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes glow{
  from{
    color: orange;
  }
  to{
    color:red;
  }
}

  to{
    color:black;
  }

.container-1-text a:hover{
  color: grey;
}



.hr-design{
  border-style: none;
  border-top: dotted;
  border-color: GREY;
  width:50px;
  border-width: 7px;
}

.aboutus-in-homepage{
  background-image: url("images/bckg.png");
  height: 18.5rem;
  background-repeat: no-repeat;
  background-color: #f8b617;
  width: 101rem;
  animation-name: slides;
  animation-duration: 15s;
  animation-iteration-count:infinite;
  animation-direction:alternate-reverse;
}
@keyframes slides{

  100%{
    background-image: url("images/bckg.png");
    background-color:#f8b617 ;

  }
  60%{
    background-image: url("images/bckg.png");
    background-color:#f8b617 ;

  }

  
  40%{
    background-image: url("images/aboutusimage3.png");
    background-color: white;
  }
  0%{
    background-image: url("images/aboutusimage3.png");
    background-color: white;
  }
}
.aboutus-in-homepage-0{
    height: 18rem;
    float: left;
    width: 65rem;
}
.aboutus-in-homepage-text{
  padding-left: 30%;
  padding-top: 13%;
  font-size: 1.4rem;
}
.aboutus-in-homepage-1{
  height: 300px;
  display: flex;
  background-repeat: no-repeat;
  background-color: white;
  width: 100%;
}
.aboutus-in-homepage-2{
  background-color: white;
  height: 400px;
  width: 100%;
}
.aboutus-in-homepage-3{
  height: 350px;
  width: 300px;
  float:left;
  margin: 4% 0% 0% 3%;

}
.aboutus-in-homepage-4{
  height: 350px;
  width: 300px;
  float: left;
  margin: 4% 0% 0% 7%;
}



.container-3{
  align-items:center;
  margin:6rem 0rem 0rem 0rem;
  width: 95rem;
}
.container-3-text{
  text-align: center;
  width: 95rem;
  font-family: 'Ultra', serif;
  color: #C40404;
  font-size: 2.5rem;
}



.container-4{
  align-items:center;
  margin:100px 0px;
  width: 100%;
}

.container-4-text{
  text-align: center;
  width: 95rem;
  font-size: 1.2rem;
}

.container-5{
  align-items:center;
  margin:6rem 0rem 0rem 0rem ;
  width: 95rem;
  height: 25rem;
  text-align: center;
}


.nursury{
  float: left;
  height: 22.5rem;
  margin-left:8rem;
  width: 22.5rem;
  background-color: #710000 ;
}
.nursury-div{
  border-style: solid;
  border: .1rem .1rem .1rem .1rem;
  border-color: white;
  height: 19rem;
  margin-top: 1.7rem;
  margin-left: 1.4rem;
  width:19.5rem;

}
.nusury-heading{
  font-size: 1.8rem;
    text-align: center;
}
.nursury-div-text{
  color: white;
  padding: 0rem 1rem 0rem 1rem;
}
.primary{
  float: left;
  height: 22.5rem;
  margin-left:5rem;
  width: 22.5rem;
  background-color: #710000 ;
}
.primary-div{
  border-style: solid;
  border: .1rem .1rem .1rem .1rem;
  border-color: white;
  height: 19rem;
  margin-top:1.7rem;
  margin-left: 1.4rem;
  width:19.5rem;
}
.primary-heading{
  font-size: 1.8rem;
    text-align: center;
}
.primary-div-text{
  color: white;
  padding: 0rem 1rem 0rem 1rem;
}
.juniors{
  float: left;
  height: 22.5rem;
  margin-left:5rem;
  width: 22.5rem;
  background-color: #710000 ;
}
.juniors-div{
  border-style: solid;
  border: .1rem .1rem .1rem .1rem;
  border-color: white;
  height: 19rem;
  margin-top: 1.7rem;
  margin-left: 1.4rem;
  width:19.5rem;
}
.juniors-div-text{
  color: white;
  padding: 0rem .7rem 0rem .7rem;
}
.juniors-heading{
  text-align: center;
  font-size: 1.8rem;
}




.container-10{
  height: 18rem;
  width: 101rem;
  background-color: #181e1f ;
  padding-left: 0rem;
  padding-right: 0rem;
  text-align: center;
}

.container-10-inside-box{
  width: 95rem;
  height: 15rem;
  margin: 0rem auto 0rem auto;
}


















/*                                                     F O L L O W   T A B    */
.container-10-follow-tab{
  width: 40rem;
  height: 15.5rem;
  float: left;
  padding-left: 30rem;
  padding-right: 30rem;
  font-size: 2rem ;
}


.footer-copyright{
  background-color: #181e1f;
  color: white;
  text-align: center;
  padding-bottom: 0rem;
}








/*                                               S O C I A L      I C O N S   */

.fa {
  padding: 30px;
  font-size: 60%;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}
.fa-facebook{
  background: transparent;
 color: white;
}
.fa-twitter {
  background: transparent;
  color: white;
}
.fa-youtube {
  background: transparent;
  color: white;
}
.fa-instagram {
  background: transparent;
  color: white;
}
